<button type="button">Adicionar Turma</button>
<div *ngIf="turmas" class="table-center">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>EscolaId</th>
                <th>Número</th>
                <th>Número de Alunos</th>
                <th>Alterar</th>
                <th>Apagar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let turma of turmas'>
                <td>{{turma?.id}}</td>
                <td>{{turma?.escolaId}}</td>
                <td>{{turma?.numero}}</td>
                <td>{{turma?.numeroAlunos}}</td>
                <td><button>Alterar</button></td>
                <td><button>Apagar</button></td>
            </tr>
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>